<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV analysis</title>
    {% load staticfiles %}
    <meta name="description" content="">
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/fonts/cloudicon/cloudicon.css' %}" rel="stylesheet">
    <link href="{% static 'web/fonts/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'web/fonts/opensans/opensans.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/idangerous.swiper.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'web/img/favicon.ico' %}" rel="shortcut icon">
    <link href="{% static 'web/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/slick.css' %}" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="{% static 'web/css/colors/pink.css' %}" rel="stylesheet" title="pink"/>
    <link href="{% static 'web/css/colors/blue.css' %}" rel="stylesheet" title="blue"/>
    <link href="{% static 'web/css/colors/green.css' %}" rel="stylesheet" title="green"/>
  </head>
  <body>
    {% comment %} <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">CV Analysis...</div>
      </div>
    </div> {% endcomment %}
    <!--
    *******************************
    UPLOADED MENU FROM HEADER.HTML
    *******************************
    -->
  <header id="header"> </header>
  <!--
  *******************
  SLIDER
  *******************
  -->
  <section id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="full h-100">
      <div class="total-grad-grey"></div>
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <img class="svg custom-img-right" src="{% static 'web/patterns/rack.svg' %}" alt="Dedicated Server">
              <div class="heading">You Can <div class="animatype"> <span id="typed3"></span></div></div>
              
              </h3>
              <a href="/job-list" class="btn btn-default-yellow-fill mr-3">JOB POST</a>
              {% comment %} <a href="post" class="btn btn-default-pink-fill"></a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="full h-100">
      <div class="total-grad-grey-inverse"></div>
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <img class="svg custom-img-right" src="patterns/cloudvps.svg" alt="Cloud VPS Server">
              <h1 class="heading">Virtual <br>Cloud Servers</h1>
              <h3 class="subheading"><span class="c-pink">&#9679;</span> Immediate scalability<br><span class="c-pink">&#9679;</span> High performance <br><span class="c-pink">&#9679;</span> Fast deployment<br></h3>
              <a href="vps.html" class="btn btn-default-yellow-fill mr-3">Get Prices</a>
              <a href="vps.html" class="btn btn-default-pink-fill">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
   <!--  <div class="full h-100">
      <div class="total-grad-grey"></div>
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <img class="svg custom-img-right" src="patterns/domains.svg" alt="Domains">
              <h1 class="heading">Your Perfect <br>Domain Name</h1>
              <h3 class="subheading">Search a domain of your choice from <b class="c-pink">$6.00/yr</b></h3>
              <form action="http://inebur.com/whmcs/domainchecker.php?systpl=antler" method="post">
                <div class="general-input w-50">
                  <input type="text" name="domain" placeholder="Start your search here" class="fill-input">
                  <input type="submit" value="Search" class="btn btn-default-yellow-fill">
                </div>
              </form>
              <div class="domain-prices">
                <ul>
                  <li class="tld">.com <div class="price"><sup>$</sup>14.00</div></li>
                  <li class="tld">.net <div class="price"><sup>$</sup>12.00</div></li>
                  <li class="tld">.org <div class="price"><sup>$</sup>8.00</div></li>
                  <li class="tld">.us <div class="price"><sup>$</sup>6.00</div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
  <!--
  *******************
  PRICING TABLES
  *******************
  -->
  <section class="pricing special sec-up-slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper first text-left">
            <div class="top-content">
              <img class="svg mb-3" src="{% static 'web/fonts/svg/aplicant.svg' %}" alt="">
              <div class="title">I am an Applicant</div>
              
              <div class="price"><sup>350 get job<span class="period">/month</span></div>
              {% if request.session.id %}
              <a href="/applicant-logout" class="btn btn-default-yellow-fill">Logout</a>
              {% else %}
              
              <a href="/cv-create" class="btn btn-default-yellow-fill">Create CV</a>
              <a href="/applicant-login" class="btn btn-default-yellow-fill">Login</a>
              {% endif %}
            </div>
            <ul class="list-info">
              <li><i class="icon-drives"></i> <span class="c-purple">EASY</span><br> <span>APPLY</span></li>
              <li><i class="icon-speed"></i> <span class="c-purple">FAST</span><br> <span>APPLY</span></li>
              <li><i class="icon-emailopen"></i> <span class="c-purple">SELECTION</span><br> <span>MAIL</span></li>
              <li><i class="icon-domains"></i> <span class="c-purple">UNLIMITED</span><br> <span>APPLY</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper text-left">
            <div class="plans badge feat bg-pink">recommended</div>
            <div class="top-content">
              <img class="svg mb-3" src="{% static 'web/fonts/svg/post.svg' %}" alt="">
              <div class="title">I will search circular</div>
           
              <div class="price"><sup>700 job post<span class="period">/month</span></div>
              <a href="/job-list" class="btn btn-default-yellow-fill">SEARCH JOB</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-cpu"></i> <span class="c-pink">FAST</span><br> <span>CREATE</span></li>
              <li><i class="icon-ram"></i> <span class="c-pink">SHARE </span><br> <span>LINK</span></li>
              <li><i class="icon-drivessd"></i> <span class="c-pink">FREE</span><br> <span>POST</span></li>
              <li><i class="icon-git"></i> <span class="c-pink">UNLIMITED</span><br> <span>POST</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper third text-left">
            <div class="top-content">
              <img class="svg mb-3" src="{% static 'web/fonts/svg/analysis.svg' %}" alt="">
              <div class="title">I am an Organisation </div>
              <div class="price"><sup>20 Best way to analysis<span class="period"></span></div>
              <a href="/post" class="btn btn-default-yellow-fill">POST</a>
              <a href="/home" class="btn btn-default-yellow-fill">ANALYSIS APPLICANT</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-cpu"></i> <span class="c-purple">EASY</span><br> <span>PANEL</span></li>
              <li><i class="icon-ram"></i> <span class="c-purple">FAST</span><br> <span>SEARCH</span></li>
              <li><i class="icon-drives"></i> <span class="c-purple">UNIQUE</span><br> <span>SERACH</span></li>
              <li><i class="icon-speed"></i> <span class="c-purple">EASY</span><br> <span>SELECTION</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--
  *******************
  LOAD BALANCING
  *******************
  -->
  <section class="balancing sec-normal bg-white pb-80">
    <div class="h-services">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <h2 class="section-heading">Full Process of Selection</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-md-12">
            <div class="wrap-service load">
              <div class="wow animated fadeInUp fast">
                <img class="svg mt-50" src="patterns/balancing.svg" alt="Load Balancing">
              </div>
              <div class="row text-info">
                <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[1] Users CV</b> <br>
                  <span class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</span>
                </div>
                <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[2] Users Application</b> <br>
                  <span class="info">Eaque ipsa quae ab illo inventore veritatis et quasi. Eaque ipsa quae omnis iste</span>
                </div>
                <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[3] ORG. Analysis</b> <br>
                  <span class="info">Omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/motpath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading">Developed Your skill And Increse chance to call interview</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4 wow animated fadeInUp fast">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Premium</div>
              <img class="svg" src="{% static 'web/img/py.png' %}" alt="">
              <div class="title">Python 7 days course</div>
              <p class="subtitle">
                Learn python in 7 days
              </p>
              <a href="#" class="btn btn-default-yellow-fill">Start Course</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 wow animated fadeInUp">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Premium</div>
              <img class="svg" src="{% static 'web/img/js.png' %}" alt="">
              <div class="title">JS course </div>
              <p class="subtitle">
                JS is fun
              </p>
              <a href="#" class="btn btn-default-yellow-fill">Start Course</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 wow animated fadeInUp fast">
            <div class="service-section">
            <div class="plans badge feat bg-pink">Free</div>
              <img class="svg" src="{% static 'web/img/html.jpg' %}" alt="">
              <div class="title">HTML course Full 6 hour</div>
              <p class="subtitle">
                Full free course HTML
              </p>
              <a href="#" class="btn btn-default-yellow-fill">Start Course</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!--
  *******************
  {% comment %} FEATURES
  *******************
  -->
  <!--
  *******************
  MAP
  *******************
  -->
  <section class="services maping sec-normal sec-grad-grey-to-grey">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading text-white">Our Datacenters are Located in 7 Regions</h2>
            <p class="section-subheading"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
          </div>
          <div class="col-md-12 pt-5">
            <img src="patterns/map.svg" alt="Load Balancing">
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters montreal" data-original-title="Montreal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters newyork" data-original-title="New York" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters portugal" data-original-title="Portugal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters london" data-original-title="London" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters moskow" data-original-title="Moskow" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters hongkong" data-original-title="Hong Kong" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters singapure" data-original-title="Singapure" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--
  *******************
  CASE STUDY
  *******************
  -->
  <section class="casestudy">
    <div class="container">
      <div class="sec-main sec-up bg-pink mb-0">
        <img src="img/casestudy.png" alt="Case Study">
        <div class="plans badge feat bg-purple">case study</div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="slider-container slider-filter">
              <div class="slider-wrap">
                <div class="swiper-container main-slider" data-autoplay="4000" data-touch="1" data-mouse="0" data-slides-per-view="responsive" data-loop="1" data-speed="1200" data-mode="horizontal" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <h3 class="author">Everth Group</h3>
                      <div class="content-info">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                        <em> Michael Jones - Executive Director</em>
                      </div>
                      <a href="casestudy/casestudy-everthgroup.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                    </div>
                    <div class="swiper-slide">
                      <h3 class="author">Growtop Company</h3>
                      <div class="content-info">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore.</p>
                        <em> Matt Radford - President &amp; Managing Director</em>
                      </div>
                      <a href="casestudy/casestudy-growtop.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                    </div>
                  </div>
                  <div class="pagination vertical-mode pagination-index"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--
  *******************
  HELP
  *******************
  -->
  <section class="services help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="javascript:void(Tawk_API.toggle())" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/livechat.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Live Chat</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="contact.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/emailopen.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Send Ticket</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="knowledgebase.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/book.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Knowledge base</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <!--
  *******************************
  UPLOADED FOOTER FROM FOOTER.HTML
  *******************************
  -->
<footer id="footer"> </footer>
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<script src="{% static 'web/js/jquery.min.js' %}"></script>
<script src="{% static 'web/js/typed.js' %}"></script>
<script src="{% static 'web/js/popper.min.js' %}"></script>
<script src="{% static 'web/js/bootstrap.min.js' %}"></script>
<script src="{% static 'web/js/idangerous.swiper.min.js' %}"></script>
<script src="{% static 'web/js/jquery.viewportchecker.min.js' %}"></script>
<script src="{% static 'web/js/jquery.circliful.min.js' %}"></script>
<script src="{% static 'web/js/jquery.countdown.js' %}"></script>
<script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'web/js/slick.min.js' %}"></script>
<script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'web/js/isotope.min.js' %}"></script>
<script src="{% static 'web/js/wow.min.js' %}"></script>
<script>new WOW().init();</script>
<script src="{% static 'web/js/scripts.js' %}"></script>
<script>
var typed3 = new Typed('#typed3', {
strings: ["Create job for Employ.", "Create your CV for apply.", "Choose best employee"],
typeSpeed: 50,
backSpeed: 20,
smartBackspace: true,
loop: true
});
</script>

</body>
</html>